body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  padding-bottom: 50vh;
}

.speedToolDiv {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #c78100;
  z-index: 1;
}

header {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

header h1 {
  text-align: center;
}

.selection-sect {
  width: 90vw;
  min-width: 75rem;
  margin: 0 auto;
}

.selection-sect .franchise-accordion {
  background: transparent;
}

.selection-sect .franchise-accordion .accordion-title {
  font-size: inherit;
  font-weight: bold;
  color: #c78100;
}

.selection-sect .franchise-accordion .form-div {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #c78100;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.selection-sect .franchise-accordion .form-div .form-selection-icon {
  width: auto;
  max-height: 75px;
}

.selection-sect .franchise-accordion .form-div p {
  font-weight: bold;
  color: #c78100;
}

.selection-sect .franchise-accordion .form-div:hover {
  background-color: #c78100;
}

.selection-sect .franchise-accordion .form-div:hover p {
  color: white;
}

#submit {
  padding: 20px;
  width: 150px;
  margin: 0 auto;
}

#submit button {
  font-size: 1.5rem;
  border: 1px solid #c78100;
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

#submit button:hover {
  background-color: #c78100;
}

#as-it-happens-heading {
  margin-top: 1em;
  text-align: center;
  border-bottom: 5px solid #c78100;
}

.fighter-pictures {
  display: none;
  margin: auto;
  padding-top: 2em;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fighter-pictures img {
  width: 150px;
}

#logs {
  margin: auto;
  margin-top: 2em;
  padding: 25px;
  width: 60%;
  min-width: 500px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#logs p {
  padding: 1em;
  border-radius: 10px;
  color: white;
  width: 70%;
  min-width: 250px;
}

#logs p:nth-child(2n) {
  -webkit-box-shadow: 0px 0px 10px #600094;
          box-shadow: 0px 0px 10px #600094;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#logs p:nth-child(2n) .character-name {
  color: #a600ff;
}

#logs p:nth-child(2n + 1) {
  -webkit-box-shadow: 0px 0px 10px #769400;
          box-shadow: 0px 0px 10px #769400;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#logs p:nth-child(2n + 1) .character-name {
  color: #9bc200;
}

#logs .win {
  background-color: #c78100;
  width: 100%;
  margin-top: 2em;
  -webkit-box-shadow: 0px 0px 50px #c78100 !important;
          box-shadow: 0px 0px 50px #c78100 !important;
  text-align: center;
  font-size: 1.5em;
}

.showSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 75%;
  min-width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5em;
}

.selection-sect,
.selection-sect-old {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.selection-sect .franchise-accordion,
.selection-sect-old .franchise-accordion {
  width: 45%;
}

.selection-sect .franchise-accordion .form-div,
.selection-sect-old .franchise-accordion .form-div {
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.selection-sect .franchise-accordion .form-div .formStatsDiv,
.selection-sect-old .franchise-accordion .form-div .formStatsDiv {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.selection-sect .franchise-accordion .form-div p,
.selection-sect-old .franchise-accordion .form-div p {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */