body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  padding-bottom: 50vh;
}


.speedToolDiv {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem;
	background-color: #c78100;
	z-index: 1;
	
}


header{
	margin-top: 2rem;
	margin-bottom: 5rem;
	h1{
		text-align: center;
	}
}

.selection-sect {
	width: 90vw;
	min-width: 75rem;
	margin: 0 auto;


  .franchise-accordion {
    background: transparent;
    .accordion-title {
      font-size: inherit;
      font-weight: bold;
      color: #c78100;
    }

    .form-div {
      cursor: pointer;
      padding: 5px;
      border: 1px solid #c78100;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;

      p {
        font-weight: bold;
        color: #c78100;
      }

      &:hover {
        background-color: #c78100;

        p {
          color: white;
        }
      }
    }
  }
}

#submit {
	padding: 20px;
	width: 150px;
	margin: 0 auto;

  button {
		font-size: 1.5rem;
		border: 1px solid #c78100;
    color: white;
    padding: 0.5em 1em;
		cursor: pointer;
		border-radius: 5px;
		transition: all 0.25s;

    &:hover {
			background-color: #c78100;
    }
  }
}

#as-it-happens-heading{
  margin-top: 1em;
  text-align: center;
  border-bottom: 5px solid #c78100;
}

.fighter-pictures{
	display: none;
	margin: auto;
	padding-top: 2em;
	width: 60%;
	justify-content: space-between;

	align-items: center;

	img{
		width: 150px;
	}
}

#logs {
  margin: auto;
  margin-top: 2em;
  padding: 25px;
  width: 60%;
  min-width: 500px;
  color: black;
	display: flex;
	flex-direction: column;

  p {
    padding: 1em;
    border-radius: 10px;
    color: white;
		width: 70%;
		min-width: 250px;
  }

  p:nth-child(2n) {
    // background-color: #60009475;
    box-shadow: 0px 0px 10px #600094;
		align-self: flex-start;

		.character-name{
			color: #a600ff;
		}
  }

  p:nth-child(2n + 1) {
    // background-color: #76940056;
    box-shadow: 0px 0px 10px #769400;
		align-self: flex-end;

		.character-name{
			color: #9bc200;
		}
  }

	.win{
		background-color: #c78100;
		width: 100%;
		margin-top: 2em;
		box-shadow: 0px 0px 50px #c78100 !important;
		text-align: center;
		font-size: 1.5em;
	}

}

.showSelection {
  display: flex;
  margin: auto;
  width: 75%;
  min-width: 500px;
  justify-content: space-between;
	font-size: 1.5em;
}

.selection-sect,
.selection-sect-old {
  display: flex;
  justify-content: space-evenly;

  .franchise-accordion {
    width: 45%;

    .form-div {
      margin-bottom: 0.5em;
      display: flex;
      align-items: center;
      gap: 15px;

			.formStatsDiv{
				flex-grow: 2;
				display: flex;
				justify-content: space-around;

			}

      p {
        margin-bottom: 0;
      }
    }
  }
}
